{:run     meme.lang.meme-rewrite/run-source
 :repl    meme.lang.meme-rewrite/start-repl
 :format  meme.lang.meme-rewrite/format-meme
 :to-clj  meme.lang.meme-rewrite/to-clj
 :to-meme meme.lang.meme-rewrite/to-meme}
